// Color Variables
$primary-color: #00A1E0;
$secondary-color: #032D60;
$navy-blue: #032E61;
$dark-blue: #001639;
$sky-blue: #0176d3;
$light-blue: #E8F4F8;
$accent-color: #FF6B35;
$text-color: #333333;
$text-dark: #181818;
$text-light: #666666;
$text-white: #FFFFFF;
$background-color: #FFFFFF;
$background-light: #F3F3F3;
$background-blue: #D4E7F5;
$border-color: #E0E0E0;
$marketing-orange: #ff9900;
$marketing-brown: #4a2b00;
$color-014486: #014486;
$color-f5f5f5: #f5f5f5;
$color-f9f9f9: #f9f9f9;
$color-d8dde6: #d8dde6;
$color-ededed: #ededed;
$color-181b1f: #181b1f;
$color-2e8b57: #2e8b57;
$color-159f4f: #159f4f;
$color-9050e9: #9050e9;
$color-1e2150: #1e2150;
$color-2a1b50: #2a1b50;
$color-1a3a60: #1a3a60;
$color-e5e5e5: #e5e5e5;
$color-015ba3: #015ba3;
$color-7f22e8: #7f22e8;
$color-051a2b: #051a2b;
$color-031e55: #031e55;
$color-dadbdd: #dadbdd;
$color-f4f6f9: #f4f6f9;
$color-ebf5fa: #ebf5fa;
$color-4b4b4b: #4b4b4b;
$color-0051a3: #0051a3;
$color-f8f9fa: #f8f9fa;
$color-2313d4: #2313d4;
$color-d8f0ff: #d8f0ff;
$color-25d366: #25d366;
$color-128c7e: #128c7e;
$color-005fb2: #005fb2;
$color-eeeeee: #eeeeee;
$color-888888: #888888;
$color-444444: #444444;
$color-555555: #555555;
$color-000000: #000000;
$color-dddddd: #dddddd;
$color-537297: #537297;
$color-eef4ff: #eef4ff;
$color-f5f7fa: #f5f7fa;
$color-f0f7ff: #f0f7ff;
$color-6b36c8: #6b36c8;
$color-5a2da1: #5a2da1;
$color-0742b8: #0742b8;
$color-001242: #001242;
$color-eaeaea: #eaeaea;
$color-fcfcfc: #fcfcfc;
$color-052055: #052055;
$color-92e0ff: #92e0ff;
$color-d8e6fe: #d8e6fe;
$color-0d1f42: #0d1f42;
$color-f0f0f0: #f0f0f0;
$color-050b40: #050b40;
$color-131860: #131860;
$color-10166d: #10166d;
$color-f0f4f8: #f0f4f8;
$color-3661eb: #3661eb;
$color-d93025: #d93025;
$color-1a73e8: #1a73e8;
$color-1e8e3e: #1e8e3e;
$color-9334e6: #9334e6;
$color-f8f4ff: #f8f4ff;
$color-e5ccff: #e5ccff;
$color-d1b1f1: #d1b1f1;
$color-4a008e: #4a008e;
$color-15095e: #15095e;
$color-5d28cf: #5d28cf;
$color-5323bd: #5323bd;
$color-c4a7e7: #c4a7e7;
$color-eef4f9: #eef4f9;
$color-f8f5ff: #f8f5ff;
$color-e6f0f8: #e6f0f8;
$color-f1f8fc: #f1f8fc;
$color-f8fbfe: #f8fbfe;
$color-0b153c: #0b153c;
$color-1e2f78: #1e2f78;
$color-0052d4: #0052d4;
$color-4364f7: #4364f7;
$color-4a00e0: #4a00e0;
$color-8e2de2: #8e2de2;
$color-ff0099: #ff0099;
$color-493240: #493240;
$color-1f4037: #1f4037;
$color-99f2c8: #99f2c8;
$color-83a4d4: #83a4d4;
$color-b6fbff: #b6fbff;
$color-000428: #000428;
$color-004e92: #004e92;
$color-012169: #012169;
$color-f3f8fc: #f3f8fc;
$color-6b21a8: #6b21a8;
$color-181b31: #181b31;
$color-f2f8fd: #f2f8fd;
$color-c9c9c9: #c9c9c9;
$color-01142e: #01142e;
$color-eef4fc: #eef4fc;
$color-f0f6fa: #f0f6fa;
$color-706e6b: #706e6b;
$color-1a1a1a: #1a1a1a;
$color-f4f6fe: #f4f6fe;
$color-0099ff: #0099ff;
$color-e5eff9: #e5eff9;
$color-f4f9fd: #f4f9fd;
$color-032055: #032055;
$color-00d4ff: #00d4ff;
$color-ff00ff: #ff00ff;
$color-0a60f3: #0a60f3;
$color-001f5c: #001f5c;
$color-000d2e: #000d2e;
$color-6361f2: #6361f2;
$color-d9d9d9: #d9d9d9;
$color-777777: #777777;
$color-cccccc: #cccccc;
$color-747474: #747474;
$color-aeaeae: #aeaeae;
$color-d8e6ff: #d8e6ff;
$color-005096: #005096;
$color-e795e9: #e795e9;
$color-2e844a: #2e844a;
$color-c23934: #c23934;
$color-014782: #014782;
$color-00335e: #00335e;
$color-3e3e3c: #3e3e3c;
$color-080707: #080707;
$color-ebf1ff: #ebf1ff;
$color-00468f: #00468f;
$color-5c5c5c: #5c5c5c;
$color-004486: #004486;
$color-f4f7fe: #f4f7fe;
$color-d8edff: #d8edff;
$color-005e8e: #005e8e;
$color-e3dcfc: #e3dcfc;
$color-014a8f: #014a8f;
$color-f7f7f7: #f7f7f7;
$color-1a1b1e: #1a1b1e;
$color-f4f4f4: #f4f4f4;
$color-45c48b: #45c48b;
$color-005fb8: #005fb8;
$color-5a5a5a: #5a5a5a;
$color-f0f8ff: #f0f8ff;
$color-015ba1: #015ba1;
$color-051c37: #051c37;
$color-1a3aff: #1a3aff;
$color-0b1ba1: #0b1ba1;
$color-3b6bef: #3b6bef;
$color-2a56d1: #2a56d1;
$color-1e0d31: #1e0d31;
$color-d1e0ff: #d1e0ff;
$color-1b9d48: #1b9d48;
$color-0b5cab: #0b5cab;
$color-e8f4ff: #e8f4ff;
$color-f9fafb: #f9fafb;
$color-1d32ec: #1d32ec;
$color-2719ee: #2719ee;
$color-88b2f3: #88b2f3;
$color-999999: #999999;
$color-031e3d: #031e3d;
$color-fef5f0: #fef5f0;
$color-fff9f5: #fff9f5;
$color-0049f5: #0049f5;
$color-f0f7fd: #f0f7fd;
$color-f8f8f8: #f8f8f8;
$color-eaf5fe: #eaf5fe;
$color-f8991c: #f8991c;
$color-fff5eb: #fff5eb;
$color-6a6a6a: #6a6a6a;
$color-eef7ff: #eef7ff;
$color-f2f2f2: #f2f2f2;
$color-5b47a0: #5b47a0;
$color-2d2654: #2d2654;
$color-47a05b: #47a05b;
$color-26542d: #26542d;
$color-47a09d: #47a09d;
$color-26544f: #26544f;
$color-a8e5ff: #a8e5ff;
$color-d8e4f5: #d8e4f5;
$color-f1f8ff: #f1f8ff;
$color-fcc003: #fcc003;
$color-e0f0ff: #e0f0ff;
$color-949494: #949494;
$color-f8fcfe: #f8fcfe;
$color-00a180: #00a180;
$color-f88a24: #f88a24;
$color-00f0d1: #00f0d1;
$color-adadad: #adadad;
$color-e8f3fc: #e8f3fc;
$color-e0f7fa: #e0f7fa;
$color-f0f4ff: #f0f4ff;
$color-e8f5ff: #e8f5ff;
$color-f8fbff: #f8fbff;
$color-f8f9fb: #f8f9fb;
$color-f1f3f5: #f1f3f5;
$color-a0a0a0: #a0a0a0;
$color-f75d81: #f75d81;
$color-fce4ec: #fce4ec;
$color-014a8d: #014a8d;
$color-d0d0d0: #d0d0d0;
$color-e3f0fa: #e3f0fa;
$color-d8d8d8: #d8d8d8;
$color-f2f7fc: #f2f7fc;
$color-ebf8fe: #ebf8fe;
$color-0b4f8a: #0b4f8a;
$color-57c5f7: #57c5f7;
$color-4a9fd8: #4a9fd8;
$color-2b7bb9: #2b7bb9;
$color-cbe0ee: #cbe0ee;
$color-00d58d: #00d58d;
$color-f29c11: #f29c11;
$color-ff5c39: #ff5c39;
$color-e0f2ff: #e0f2ff;
$color-e1f0fe: #e1f0fe;
$color-d896ff: #d896ff;
$color-0070d2: #0070d2;
$color-fcece6: #fcece6;
$color-ff774a: #ff774a;
$color-fff1ed: #fff1ed;
$color-f8faff: #f8faff;
$color-b0c0ff: #b0c0ff;
$color-dce4fd: #dce4fd;
$color-027e46: #027e46;
$color-757575: #757575;

// Breakpoints
$too-small-mobile: 320px;
$mid-small-mobile: 340px;
$small-mobile: 375px;
$mid-mobile: 500px;
$mobile: 576px;
$small-tab: 768px;
$big-tab: 992px;
$small-desktop: 1024px;
$desktop: 1200px;
$mid-desktop: 1440px;
$large-desktop: 1500px;

// Responsive Mixins
@mixin too-small-mobile {
    @media (max-width: $too-small-mobile) {
        @content;
    }
}

@mixin mid-small-mobile {
    @media (max-width: $mid-small-mobile) {
        @content;
    }
}

@mixin small-mobile {
    @media (max-width: $small-mobile) {
        @content;
    }
}

@mixin mid-mobile {
    @media (max-width: $mid-mobile) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

@mixin small-tab {
    @media (max-width: $small-tab) {
        @content;
    }
}

@mixin big-tab {
    @media (max-width: $big-tab) {
        @content;
    }
}

@mixin small-desktop {
    @media (max-width: $small-desktop) {
        @content;
    }
}

@mixin desktop {
    @media (max-width: $desktop) {
        @content;
    }
}

@mixin mid-desktop {
    @media (max-width: $mid-desktop) {
        @content;
    }
}

@mixin large-desktop {
    @media (max-width: $large-desktop) {
        @content;
    }
}

@mixin min-desktop {
    @media (min-width: 1201px) {
        @content;
    }
}
// Generated Colors

